/* General */
.App {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.4em;
  width: 100%;
}

h1, h2, h3, h4, h5, .btn-primary {
  font-family: 'Modak', cursive;
  font-weight: 100;
  color: white;
	text-shadow:
		-2px -2px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

h1 {
  margin-top: 5%;
}

/* Form */
h3 {
  font-size: 2em;
}

.SmurfForm {
  margin-top: 4%;
}

.form-group, .form-check {
  width: 50%;
  margin: 2% auto;
  padding: 2%;
  background-color: ##88CCFF;
  border-radius: 10px;
}

label {
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

.btn-secondary {
  background-color: white;
  color: #000;
  font-weight: bold;
}

/* Smurf Village */
.Smurfs {
  margin-top: 5%;
}

/* Smurf Cards */
.smurfs-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

h4 {
  font-size: 1.4em;
}

.card {
  width: 300px;
  padding: 4% 2%;
  background-color: #88CCFF;
}

/* Link Buttons */
.btn-primary {
  margin: 5% 0;
  width: 80%;
  font-size: 2em;
}